.about-container {
flex: 1;
background-image: url('./assets/background.jpg');
background-attachment: fixed;
background-size: cover;
background-position: center;
padding-top: 50px;
padding-bottom: 10px;
min-height: 100%;
overflow-y: auto;
}

@font-face {
    font-family: 'HeaderFont';
    src: url('../src/assets/Fonts/NightmarePills-BV2w.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

h2 {
    font-family: 'HeaderFont', sans-serif;
    font-size:5vw;
}