.comic-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px 0;
    overflow-y: auto;
    background-image: url('./assets/background.jpg');
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    min-height: 100vh;
  }
  
  .comic-page {
    width: 100%;
    max-width: 600px; /* Adjust as needed */
    margin-bottom: 20px;
  }
  